:root{
    --gray: #E0E0E0;
    --orange: #FF6633;
    --white: white;
}
body{
    background-color: var(--gray);
}
.heading{
    display: flex;
}
.heading-panel{
    margin-left: 30px;
}
.heading-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap:10px;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    box-shadow: 0px 2px 5px rgba(38,51,77,0.05);
    border-radius: 100px;
}
.heading-container{
    width: 95px;
    height: 30px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #4D5E80;;
}
.heading-text{
    width: 115px;
    height: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #ADB8CC;
}
.card-apple{
    width: 255px;
    height: 255px;
    padding: 40px;
    gap:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--orange);
    border-radius: 10px;
}
.card-icon{
    width: 15.98px;
    height: 19.6px;
    background-color: var(--orange);
    left: 7px;
    top:5px;
}
.card-text{
    width: 115px;
    height: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    background-color: var(--orange);
    color:white;
}
.card-price{
    width: 92px;
    height: 60px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 60px;
    color:var(--white);
    background-color: #FF6633;
}
.content-section{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.heading-text1{
    width: 162px;
    height: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #4D5E80;
    background-color: var(--white);
}
.last-section{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.heading1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:10px;
    width: 160px;
    height: 145px;
    background-color: var(--white);
    box-shadow: 0px 2px 5px rgba(38,51,77,0.05);
    border-radius: 10px;
}